[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.user
*.userprefs
*.db
*.sqlite
*.sqlitedb
node_modules/
npm-debug.log*
*.css.map
*.js.map
appsettings.Development.json
.env
*.pubxml
*.publish.htm
publish/
.DS_Store
Thumbs.db
.idea/
*.sln.iml