#world {
    position: absolute;
    bottom: 4.2%;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 21 / 3;
    max-height: 70vh;
    background-color: rgb(0,0,0, 0);
    box-sizing: unset;
}

.platform {
    position: absolute;
/*    background-color: #216cc0;
    border-top: 4px solid #80b5f0;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);*/
}

.character-container {
    position: absolute;
    will-change: transform;
    transition: none !important;
}
.character-collider {
    background: #ff0;
}
.svg-char {
    width: 100%;
    height: 100%;
    overflow: visible !important;
}

.nickname, .life-bar-container, .bubble {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.nickname {
    bottom: 100%; 
    margin-bottom: 0.8cqw;
    font-size: 1cqw;
    font-weight: 800;
    white-space: nowrap;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    z-index: 10;
}

.life-bar-container {
    bottom: 100%;
    margin-bottom: 0.3cqw;
    width: 4cqw;
    height: 0.4cqw;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #000;
}

.life-bar-fill {
    height: 100%;
    width: 100%;
    background: #2ecc71;
    transition: width 0.1s linear, background-color 0.5s;
}

.bubble {
    bottom: 100%;
    margin-bottom: 1.8cqw;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background: white;
    color: #333;
    padding: 0.3cqw 0.6cqw;
    border-radius: 12px;
    font-size: 0.8cqw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 40px;
    max-width: 400px;
    width: max-content;
    white-space: normal;
    word-wrap: break-word;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: opacity 0.5s ease;
    z-index: 20;
    pointer-events: none;
}
    .bubble::after {
        content: '';
        position: absolute;
        bottom: -0.3cqw;
        left: 50%;
        transform: translateX(-50%);
        border-left: 0.4cqw solid transparent;
        border-right: 0.4cqw solid transparent;
        border-top: 0.4cqw solid white;
    }


.Idle #Shell, .Idle #Head, .Idle #Belly, .Idle #Mask,
.Walking #LegLeft, .Walking #LegRight, .Walking #HandLeft, .Walking #HandRight {
    will-change: transform;
}

@keyframes idleBreath {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.Idle {
    #Shell, #Head, #Belly, #HandLeft, #HandRight, #Mask {
        animation: idleBreath 1.2s ease-in-out infinite;
    }
}

@keyframes swing {
    0%, 100% {
        transform: rotate(-18deg);
    }

    50% {
        transform: rotate(18deg);
    }
}

.Walking {
    #LegLeft, #LegRight, #HandLeft, #HandRight {
        transform-box: fill-box;
        transform-origin: 50% 0%;
        animation: swing 0.35s ease-in-out infinite;
    }
    #HandLeft, #LegRight {
        animation-delay: -0.175s;
    }
}

.Jumping .svg-char {
/*    transform: scaleY(1.1);
    transition: transform 0.2s;*/
}


.Fighting {
    #HandRight {
        transform-box: fill-box;
        transform-origin: 50% 0%;
        animation: strikeRight 0.35s ease-in-out infinite;
    }

    #HandLeft {
        animation-delay: -0.175s;
    }
}

@keyframes strikeRight {
    0%, 100% {
        transform: rotate(-150deg);
    }

    50% {
        transform: rotate(-30deg);
    }
}

.Fighting {
    #HandLeft {
        transform-box: fill-box;
        transform-origin: 50% 0%;
        animation: strikeLeft 0.35s ease-in-out infinite;
    }

    #HandLeft {
        animation-delay: -0.175s;
    }
}

@keyframes strikeLeft {
    0%, 100% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-30deg);
    }
}


.winner {
    filter: drop-shadow(0 0 5px gold);
    animation: winnerGlow 0.5s infinite alternate;
}

.hit {
    
    filter: brightness(1.5);
}

@keyframes winnerGlow {
    from {
        filter: drop-shadow(0 0 5px gold);
    }

    to {
        filter: drop-shadow(0 0 2px orange);
    }
}

@keyframes hitShake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(3px, -2px);
    }

    75% {
        transform: translate(-3px, 2px);
    }

    100% {
        transform: translate(0, 0);
    }
}
.Dead {
    opacity: 0.5;
    filter: grayscale(100%)
}


.float-number {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    animation: floatUp 1s ease-out forwards;
    will-change: transform, opacity;
}

    .float-number.damage {
        color: #ff0000;
    }

    .float-number.heal {
        color: #55ff55;
    }

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-50px);
    }
}